In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

In [3]:
# Decided to go with a query that gets us the films but they are duplicated as they can be rented in may or not in may

query = '''SELECT
DISTINCT f.film_id,
f.rental_duration,
f.length,
f.rating,
f.special_features,
c.name AS category,
CASE 
WHEN MONTH(r.rental_date) = 5 THEN 'true'
ELSE 'false'
END AS rented_in_may
FROM
film  f
JOIN
film_category fc ON f.film_id = fc.film_id
JOIN
category c ON fc.category_id = c.category_id
LEFT JOIN
inventory i ON f.film_id = i.film_id
LEFT JOIN 
rental r ON i.inventory_id = r.inventory_id;'''

In [4]:
data = pd.read_sql_query(query, engine)
data.head()

,film_id,rental_duration,length,rating,special_features,category,rented_in_may
0,19,6,113,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,false
1,19,6,113,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,true
2,21,3,129,R,"Commentaries,Behind the Scenes",Action,true
3,21,3,129,R,"Commentaries,Behind the Scenes",Action,false
4,29,5,168,NC-17,"Trailers,Commentaries,Deleted Scenes",Action,true

In [5]:
# Sorted by true in the beginning to prepare to remove the duplicates
sdata = data.sort_values(by='rented_in_may', ascending=False)
sdata

,film_id,rental_duration,length,rating,special_features,category,rented_in_may
843,700,4,115,R,"Trailers,Deleted Scenes",Family,true
909,353,6,125,NC-17,"Commentaries,Deleted Scenes",Foreign,true
836,639,7,92,PG,Deleted Scenes,Family,true
839,679,6,50,PG,"Trailers,Deleted Scenes",Family,true
841,682,4,134,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Family,true
...,...,...,...,...,...,...,...
928,467,6,181,G,Deleted Scenes,Foreign,false
930,486,7,59,R,"Trailers,Commentaries,Behind the Scenes",Foreign,false
295,688,6,61,PG,"Trailers,Commentaries,Deleted Scenes,Behind th...",Children,false
933,493,5,92,R,"Trailers,Commentaries",Foreign,false
0,19,6,113,PG,"Commentaries,Deleted Scenes,Behind the Scenes",Action,false

In [6]:
# Removed duplicates but kept first to be sure that the true value is kept
films = sdata.drop_duplicates(subset='film_id', keep='first')
films

,film_id,rental_duration,length,rating,special_features,category,rented_in_may
843,700,4,115,R,"Trailers,Deleted Scenes",Family,true
909,353,6,125,NC-17,"Commentaries,Deleted Scenes",Foreign,true
836,639,7,92,PG,Deleted Scenes,Family,true
839,679,6,50,PG,"Trailers,Deleted Scenes",Family,true
841,682,4,134,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Family,true
...,...,...,...,...,...,...,...
918,431,3,176,G,"Trailers,Commentaries,Deleted Scenes",Foreign,false
299,755,5,99,PG,"Trailers,Behind the Scenes",Children,false
925,455,7,103,NC-17,Deleted Scenes,Foreign,false
926,459,4,74,NC-17,"Trailers,Commentaries",Foreign,false
927,460,3,178,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Foreign,false

In [7]:
# Drop film id 
films = films.drop(columns='film_id')
films

,rental_duration,length,rating,special_features,category,rented_in_may
843,4,115,R,"Trailers,Deleted Scenes",Family,true
909,6,125,NC-17,"Commentaries,Deleted Scenes",Foreign,true
836,7,92,PG,Deleted Scenes,Family,true
839,6,50,PG,"Trailers,Deleted Scenes",Family,true
841,4,134,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Family,true
...,...,...,...,...,...,...
918,3,176,G,"Trailers,Commentaries,Deleted Scenes",Foreign,false
299,5,99,PG,"Trailers,Behind the Scenes",Children,false
925,7,103,NC-17,Deleted Scenes,Foreign,false
926,4,74,NC-17,"Trailers,Commentaries",Foreign,false
927,3,178,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Foreign,false

In [8]:
films.isnull().sum()
films.describe().T

                  count     mean        std   min   25%    50%     75%    max
rental_duration  1000.0    4.985   1.411654   3.0   4.0    5.0    6.00    7.0
length           1000.0  115.272  40.426332  46.0  80.0  114.0  149.25  185.0

In [9]:
#Decided to bin the length to 3 separate bins, and treat it as a categorical
binnames = ["Short", "Moderate", "Long"]
films['Binned_length'] = pd.cut(films['length'],[0,90,135,200], labels = binnames)


films['Binned_length'].value_counts()

Long        353
Short       325
Moderate    322
Name: Binned_length, dtype: int64

In [10]:
# To get the number of special features each film has
films['num_features'] = films['special_features'].str.split(',').str.len()
films

,rental_duration,length,rating,special_features,category,rented_in_may,Binned_length,num_features
843,4,115,R,"Trailers,Deleted Scenes",Family,true,Moderate,2
909,6,125,NC-17,"Commentaries,Deleted Scenes",Foreign,true,Moderate,2
836,7,92,PG,Deleted Scenes,Family,true,Moderate,1
839,6,50,PG,"Trailers,Deleted Scenes",Family,true,Short,2
841,4,134,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Family,true,Moderate,3
...,...,...,...,...,...,...,...,...
918,3,176,G,"Trailers,Commentaries,Deleted Scenes",Foreign,false,Long,3
299,5,99,PG,"Trailers,Behind the Scenes",Children,false,Moderate,2
925,7,103,NC-17,Deleted Scenes,Foreign,false,Moderate,1
926,4,74,NC-17,"Trailers,Commentaries",Foreign,false,Short,2
927,3,178,PG-13,"Trailers,Deleted Scenes,Behind the Scenes",Foreign,false,Long,3

In [11]:
# To split the special features into columns each with a 1 or 0

#features = ['Trailers', 'Deleted Scenes', 'Behind the Scenes', 'Commentaries']
#for feature in features:
#films[feature] = films['special_features'].str.contains(feature).astype(int)

In [12]:
films['num_features'] = films['num_features'].astype('object')

In [13]:
films['rental_duration'] = films['rental_duration'].astype('object')

In [14]:
films['Binned_length'] = films['Binned_length'].astype('object')

In [15]:
# drop length column as we already binned and transformed it to categorical
films = films.drop(columns='length')

In [16]:
# drop special features column as we already treated that
films = films.drop(columns='special_features')

In [17]:
films.dtypes

rental_duration    object
rating             object
category           object
rented_in_may      object
Binned_length      object
num_features       object
dtype: object

In [29]:
#X-Y split and Train-Test split
y = films['rented_in_may']
X = films.drop('rented_in_may', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
X_train

     rental_duration rating     category Binned_length num_features
126                4     PG    Animation          Long            2
244                5      R     Children         Short            2
324                7     PG     Children      Moderate            2
1292               3      G          New      Moderate            4
377                5  PG-13     Classics      Moderate            1
...              ...    ...          ...           ...          ...
947                6  PG-13      Foreign          Long            1
1149               4      G       Horror      Moderate            4
1431               7  NC-17       Sci-Fi      Moderate            2
1593               6     PG       Sports          Long            3
565                5  PG-13  Documentary         Short            1

[800 rows x 5 columns]

In [31]:
#One Hot encoder

from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(X_train)

cols = encoder.get_feature_names_out(input_features=X_train.columns)

X_train_transformed = pd.DataFrame(encoder.transform(X_train).toarray(),columns=cols)

X_train_transformed

,rental_duration_4,rental_duration_5,rental_duration_6,rental_duration_7,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Animation,category_Children,...,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,Binned_length_Moderate,Binned_length_Short,num_features_2,num_features_3,num_features_4
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
797,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
798,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
799,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [32]:
# Logistic regression model

from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(solver='lbfgs').fit(X_train_transformed, y_train)

In [33]:
# One Hot encode the x test

X_test_transformed = pd.DataFrame(encoder.transform(X_test).toarray(),columns=cols)


X_test_transformed

,rental_duration_4,rental_duration_5,rental_duration_6,rental_duration_7,rating_NC-17,rating_PG,rating_PG-13,rating_R,category_Animation,category_Children,...,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,Binned_length_Moderate,Binned_length_Short,num_features_2,num_features_3,num_features_4
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
197,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
198,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [34]:
# Predict the X_test and compare it to the y_test

predictions = classification.predict(X_test_transformed)
classification.score(X_test_transformed, y_test)

0.685

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[  4,  62],
       [  1, 133]])

In [36]:
print(y_test.value_counts())

true     134
false     66
Name: rented_in_may, dtype: int64

In [37]:
pd.Series(predictions).value_counts()

true     195
false      5
dtype: int64

In [41]:
# KNN classifier
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(n_neighbors=5, weights='uniform')
clf.fit(X_train_transformed, y_train)

KNeighborsClassifier()

In [42]:
predictions_clf = clf.predict(X_test_transformed)
clf.score(X_test_transformed, y_test)

0.6

In [43]:
pd.Series(predictions_clf).value_counts()

true     168
false     32
dtype: int64